Samantha Erica O'Neil
12208566
DATA100 S17

# Zomato Exercise

Zomato is a restaurant aggregator website. The platform provides information, menus and user-reviews of restaurants as well as food delivery options from partner restaurants in select cities. You have been provided 3 datasets:

- zomato.csv contains restaurant information like average_cost_for_two, cuisines
- location.csv contains location of the restaurants like address, city, locality & etc
- ratings.csv contains aggregate rating for each restaurant

The different files are connected using the `id` columns which can be found in the different files. The id column is a unique identifier to represent a restaurant. You can use this to **merge** the different files.

In [ ]:
import pandas as pd
import numpy as np

1. Merge the zomato, location & ratings file into a signle dataframe and store it to the `merged_df` variable **(3pts)**

In [24]:
zomato = pd.read_csv('zomato.csv')
ratings = pd.read_csv('ratings.csv')
location = pd.read_csv('location.csv')
merged_df = pd.merge(zomato, ratings, on='id')
merged_df = pd.merge(merged_df, location, on='id')

print(merged_df)

            id  average_cost_for_two book_url  \
0      6316125                  1000      NaN
1     18409457                  1300      NaN
2      6307689                  1600      NaN
3     18581637                  1000      NaN
4      6315438                  3000      NaN
...        ...                   ...      ...
6825  18635649                  1000      NaN
6826   6318581                   400      NaN
6827   6318578                   450      NaN
6828   6309612                  1000      NaN
6829   6318582                   600      NaN

                                        cuisines currency  \
0                                Japanese, Ramen        P
1                      Korean, Grill, Korean BBQ        P
2                             American, Filipino        P
3                                         Korean        P
4     Seafood, American, Mediterranean, Japanese        P
...                                          ...      ...
6825                              Deli, Filipino        P
6826                                   Fast Food        P
6827                            Bakery, Filipino        P
6828                           American, Italian        P
6829                            Pizza, Fast Food        P

                          deeplink  \
0      zomato://restaurant/6316125
1     zomato://restaurant/18409457
2      zomato://restaurant/6307689
3     zomato://restaurant/18581637
4      zomato://restaurant/6315438
...                            ...
6825  zomato://restaurant/18635649
6826   zomato://restaurant/6318581
6827   zomato://restaurant/6318578
6828   zomato://restaurant/6309612
6829   zomato://restaurant/6318582

                                             events_url  \
0     https://www.zomato.com/manila/mendokoro-ramenb...
1     https://www.zomato.com/manila/soban-k-town-gri...
2     https://www.zomato.com/manila/filling-station-...
3     https://www.zomato.com/manila/romantic-baboy-t...
4     https://www.zomato.com/manila/niu-by-vikings-b...
...                                                 ...
6825  https://www.zomato.com/manila/trader-juans-fil...
6826  https://www.zomato.com/manila/jollibee-north-c...
6827  https://www.zomato.com/manila/goldilocks-north...
6828  https://www.zomato.com/manila/red-buffalo-wing...
6829  https://www.zomato.com/manila/greenwich-north-...

                                         featured_image  has_online_delivery  \
0     https://b.zmtcdn.com/data/reviews_photos/971/2...                    0
1     https://b.zmtcdn.com/data/res_imagery/18290970...                    0
2     https://b.zmtcdn.com/data/pictures/9/6307689/b...                    0
3     https://b.zmtcdn.com/data/reviews_photos/cc1/a...                    0
4     https://b.zmtcdn.com/data/pictures/chains/8/63...                    0
...                                                 ...                  ...
6825                                                NaN                    0
6826  http://b.zmtcdn.com/data/pictures/chains/0/630...                    0
6827  https://b.zmtcdn.com/data/res_imagery/6300003_...                    0
6828  https://b.zmtcdn.com/data/res_imagery/6309612_...                    0
6829  https://b.zmtcdn.com/data/pictures/chains/2/63...                    0

      has_table_booking  ...  votes  \
0                     0  ...   1394
1                     0  ...    602
2                     0  ...    563
3                     0  ...    413
4                     0  ...    960
...                 ...  ...    ...
6825                  0  ...      6
6826                  0  ...      5
6827                  0  ...      1
6828                  0  ...     96
6829                  0  ...      2

                                                address             city  \
0     V. Corporate Center, Soliman Street, Salcedo V...      Makati City
1     Level 3, Greenbelt 3, Ayala Center, Greenbelt,...      Makati City
2     5012 P. Burgos Street, Poblacion, Makati City ...      Makati City
3     CKB Centre, Tomas Morato Avenue Corner Scout R...      Quezon City
4     Sixth Floor, SM Aura Premier, C5 Road Corner 2...      Taguig City
...                                                 ...              ...
6825   Westgate Center, Filinvest City, Muntinlupa City  Muntinlupa City
6826  Zabarte Town Center, Zabarte Corner Camarin Ro...    Caloocan City
6827  Zabarte Town Center, Zabarte Corner Camarin Ro...    Caloocan City
6828  Greenhills Town Center, Granada Street, Valenc...      Quezon City
6829  Ground Floor, Zabarte Town Center, Zabarte Cor...    Caloocan City

      city_id  country_id   latitude  \
0          63         162  14.560313
1          63         162  14.552137
2          63         162  14.563144
3          63         162  14.633713
4          63         162  14.546236
...       ...         ...        ...
6825       63         162  14.422261
6826       63         162  14.756424
6827       63         162  14.756406
6828       63         162  14.610628
6829       63         162  14.756382

                                               locality  \
0                                       Salcedo Village
1                 Greenbelt 3, San Lorenzo, Makati City
2                                             Poblacion
3                                          Tomas Morato
4     SM Aura Premier, Bonifacio Global City, Taguig...
...                                                 ...
6825    Westgate Center, Filinvest City, Mutinlupa City
6826  Zabarte Town Center, North Caloocan, Caloocan ...
6827  Zabarte Town Center, North Caloocan, Caloocan ...
6828     Greenhills Town Center, Valencia, Quezon City
6829  Zabarte Town Center, North Caloocan, Caloocan ...

                                       locality_verbose   longitude  zipcode
0                          Salcedo Village, Makati City  121.024638      NaN
1     Greenbelt 3, San Lorenzo, Makati City, Makati ...  121.021325      NaN
2                                Poblacion, Makati City  121.029800   1210.0
3                             Tomas Morato, Quezon City  121.035026      NaN
4     SM Aura Premier, Bonifacio Global City, Taguig...  121.054365      NaN
...                                                 ...         ...      ...
6825  Westgate Center, Filinvest City, Mutinlupa Cit...  121.033175      NaN
6826  Zabarte Town Center, North Caloocan, Caloocan ...  121.043329      NaN
6827  Zabarte Town Center, North Caloocan, Caloocan ...  121.043498      NaN
6828  Greenhills Town Center, Valencia, Quezon City ...  121.037031      NaN
6829  Zabarte Town Center, North Caloocan, Caloocan ...  121.043452      NaN

[6830 rows x 35 columns]

In [27]:
assert (6830, 35)==merged_df.shape

cols = ['id', 'address', 'city', 'city_id', 'country_id', 'latitude',
       'locality', 'locality_verbose', 'longitude', 'zipcode',
       'aggregate_rating', 'rating_color', 'rating_text', 'votes',
       'average_cost_for_two', 'book_url', 'cuisines', 'currency', 'deeplink',
       'events_url', 'featured_image', 'has_online_delivery',
       'has_table_booking', 'include_bogo_offers', 'is_book_form_web_view',
       'is_delivering_now', 'is_table_reservation_supported',
       'is_zomato_book_res', 'menu_url', 'mezzo_provider', 'name',
       'photos_url', 'price_range', 'thumb', 'url']

assert sorted(merged_df.columns) == sorted(cols)
print(merged_df)

            id  average_cost_for_two book_url  \
0      6316125                  1000      NaN
1     18409457                  1300      NaN
2      6307689                  1600      NaN
3     18581637                  1000      NaN
4      6315438                  3000      NaN
...        ...                   ...      ...
6825  18635649                  1000      NaN
6826   6318581                   400      NaN
6827   6318578                   450      NaN
6828   6309612                  1000      NaN
6829   6318582                   600      NaN

                                        cuisines currency  \
0                                Japanese, Ramen        P
1                      Korean, Grill, Korean BBQ        P
2                             American, Filipino        P
3                                         Korean        P
4     Seafood, American, Mediterranean, Japanese        P
...                                          ...      ...
6825                              Deli, Filipino        P
6826                                   Fast Food        P
6827                            Bakery, Filipino        P
6828                           American, Italian        P
6829                            Pizza, Fast Food        P

                          deeplink  \
0      zomato://restaurant/6316125
1     zomato://restaurant/18409457
2      zomato://restaurant/6307689
3     zomato://restaurant/18581637
4      zomato://restaurant/6315438
...                            ...
6825  zomato://restaurant/18635649
6826   zomato://restaurant/6318581
6827   zomato://restaurant/6318578
6828   zomato://restaurant/6309612
6829   zomato://restaurant/6318582

                                             events_url  \
0     https://www.zomato.com/manila/mendokoro-ramenb...
1     https://www.zomato.com/manila/soban-k-town-gri...
2     https://www.zomato.com/manila/filling-station-...
3     https://www.zomato.com/manila/romantic-baboy-t...
4     https://www.zomato.com/manila/niu-by-vikings-b...
...                                                 ...
6825  https://www.zomato.com/manila/trader-juans-fil...
6826  https://www.zomato.com/manila/jollibee-north-c...
6827  https://www.zomato.com/manila/goldilocks-north...
6828  https://www.zomato.com/manila/red-buffalo-wing...
6829  https://www.zomato.com/manila/greenwich-north-...

                                         featured_image  has_online_delivery  \
0     https://b.zmtcdn.com/data/reviews_photos/971/2...                    0
1     https://b.zmtcdn.com/data/res_imagery/18290970...                    0
2     https://b.zmtcdn.com/data/pictures/9/6307689/b...                    0
3     https://b.zmtcdn.com/data/reviews_photos/cc1/a...                    0
4     https://b.zmtcdn.com/data/pictures/chains/8/63...                    0
...                                                 ...                  ...
6825                                                NaN                    0
6826  http://b.zmtcdn.com/data/pictures/chains/0/630...                    0
6827  https://b.zmtcdn.com/data/res_imagery/6300003_...                    0
6828  https://b.zmtcdn.com/data/res_imagery/6309612_...                    0
6829  https://b.zmtcdn.com/data/pictures/chains/2/63...                    0

      has_table_booking  ...  votes  \
0                     0  ...   1394
1                     0  ...    602
2                     0  ...    563
3                     0  ...    413
4                     0  ...    960
...                 ...  ...    ...
6825                  0  ...      6
6826                  0  ...      5
6827                  0  ...      1
6828                  0  ...     96
6829                  0  ...      2

                                                address             city  \
0     V. Corporate Center, Soliman Street, Salcedo V...      Makati City
1     Level 3, Greenbelt 3, Ayala Center, Greenbelt,...      Makati City
2     5012 P. Burgos Street, Poblacion, Makati City ...      Makati City
3     CKB Centre, Tomas Morato Avenue Corner Scout R...      Quezon City
4     Sixth Floor, SM Aura Premier, C5 Road Corner 2...      Taguig City
...                                                 ...              ...
6825   Westgate Center, Filinvest City, Muntinlupa City  Muntinlupa City
6826  Zabarte Town Center, Zabarte Corner Camarin Ro...    Caloocan City
6827  Zabarte Town Center, Zabarte Corner Camarin Ro...    Caloocan City
6828  Greenhills Town Center, Granada Street, Valenc...      Quezon City
6829  Ground Floor, Zabarte Town Center, Zabarte Cor...    Caloocan City

      city_id  country_id   latitude  \
0          63         162  14.560313
1          63         162  14.552137
2          63         162  14.563144
3          63         162  14.633713
4          63         162  14.546236
...       ...         ...        ...
6825       63         162  14.422261
6826       63         162  14.756424
6827       63         162  14.756406
6828       63         162  14.610628
6829       63         162  14.756382

                                               locality  \
0                                       Salcedo Village
1                 Greenbelt 3, San Lorenzo, Makati City
2                                             Poblacion
3                                          Tomas Morato
4     SM Aura Premier, Bonifacio Global City, Taguig...
...                                                 ...
6825    Westgate Center, Filinvest City, Mutinlupa City
6826  Zabarte Town Center, North Caloocan, Caloocan ...
6827  Zabarte Town Center, North Caloocan, Caloocan ...
6828     Greenhills Town Center, Valencia, Quezon City
6829  Zabarte Town Center, North Caloocan, Caloocan ...

                                       locality_verbose   longitude  zipcode
0                          Salcedo Village, Makati City  121.024638      NaN
1     Greenbelt 3, San Lorenzo, Makati City, Makati ...  121.021325      NaN
2                                Poblacion, Makati City  121.029800   1210.0
3                             Tomas Morato, Quezon City  121.035026      NaN
4     SM Aura Premier, Bonifacio Global City, Taguig...  121.054365      NaN
...                                                 ...         ...      ...
6825  Westgate Center, Filinvest City, Mutinlupa Cit...  121.033175      NaN
6826  Zabarte Town Center, North Caloocan, Caloocan ...  121.043329      NaN
6827  Zabarte Town Center, North Caloocan, Caloocan ...  121.043498      NaN
6828  Greenhills Town Center, Valencia, Quezon City ...  121.037031      NaN
6829  Zabarte Town Center, North Caloocan, Caloocan ...  121.043452      NaN

[6830 rows x 35 columns]
Index(['id', 'average_cost_for_two', 'book_url', 'cuisines', 'currency',
       'deeplink', 'events_url', 'featured_image', 'has_online_delivery',
       'has_table_booking', 'include_bogo_offers', 'is_book_form_web_view',
       'is_delivering_now', 'is_table_reservation_supported',
       'is_zomato_book_res', 'menu_url', 'mezzo_provider', 'name',
       'photos_url', 'price_range', 'thumb', 'url', 'aggregate_rating',
       'rating_color', 'rating_text', 'votes', 'address', 'city', 'city_id',
       'country_id', 'latitude', 'locality', 'locality_verbose', 'longitude',
       'zipcode'],
      dtype='object')

2. Create a function that returns the average aggregate rating for each city. Expected returned value is a Series datatype which contains name of city as index and average aggregate rating as value. **(2pts)**

In [14]:
def exercise_2(merged_df):
  average_ratings = merged_df.groupby('city')['aggregate_rating'].mean()
  return average_ratings

In [15]:
res_series = exercise_2(merged_df)
assert True == np.isclose(3.302075, res_series[res_series.index == 'Pasay City'],
                          rtol=1e-05, atol=1e-08, equal_nan=False)[0]
assert True == np.isclose(1.890741, res_series[res_series.index == 'Valenzuela City'],
                          rtol=1e-05, atol=1e-08, equal_nan=False)[0]
assert True == np.isclose(1.558333, res_series[res_series.index == 'Malabon City'],
                          rtol=1e-05, atol=1e-08, equal_nan=False)[0]

3. Using the apply function of pandas convert the rating_text to a numeric equivalent. You are to introduce a new column in merged_df called `rating_numeric` which is based on the value from rating_text: **(3pts)**

Excellent = 5 <br>
Very Good = 4 <br>
Good = 3 <br>
Average = 2 <br>
Poor = 1 <br>
Not rated = 0 <br>

In [16]:
rating_mapping = {
    'Excellent': 5,
    'Very Good': 4,
    'Good': 3,
    'Average': 2,
    'Poor': 1
}

merged_df['rating_numeric'] = merged_df['rating_text'].apply(lambda x: rating_mapping.get(x, 0))
print(merged_df[['rating_text', 'rating_numeric']])

     rating_text  rating_numeric
0      Excellent               5
1      Excellent               5
2      Very Good               4
3      Very Good               4
4      Excellent               5
...          ...             ...
6825     Average               2
6826     Average               2
6827   Not rated               0
6828        Good               3
6829   Not rated               0

[6830 rows x 2 columns]

In [17]:
assert 868 == merged_df[merged_df.rating_numeric == 0].shape[0]
assert True == ('rating_numeric' in merged_df.columns)

4. Create a function which filters the merged dataframe to only contain rows coming in from a specific city. Expected returned value is a dataframe **(2pts)**

In [18]:
def exercise_4(merged_df, city):
  filtered_df = merged_df[merged_df['city'] == city]
  return filtered_df

In [19]:

assert 'Makati City' == exercise_4(merged_df, 'Makati City').city.unique()[0]
assert (976, 36) == exercise_4(merged_df, 'Makati City').shape

assert 'Mandaluyong City' == exercise_4(merged_df, 'Mandaluyong City').city.unique()[0]
assert (443, 36) == exercise_4(merged_df, 'Mandaluyong City').shape

assert (0, 36) == exercise_4(merged_df, 'Quezon  City').shape

5. Create a function to filter the dataframe to only contain certain columns passed in the function. Expected returned value is a dataframe **(1pt)**

In [20]:
def exercise_5(merged_df, cols_to_filter):
  filtered_df = merged_df[cols_to_filter]
  return filtered_df

In [21]:
cols = ['name', 'cuisines', 'city', 'aggregate_rating']
assert sorted(cols) == sorted(exercise_5(merged_df, cols).columns)
assert (6830, 4) == exercise_5(merged_df, cols).shape

cols = ['average_cost_for_two', 'book_url', 'cuisines', 'currency', 'deeplink',
       'events_url', 'featured_image', 'has_online_delivery',
       'has_table_booking', 'include_bogo_offers', 'is_book_form_web_view']
assert sorted(cols) == sorted(exercise_5(merged_df, cols).columns)
assert (6830, 11) == exercise_5(merged_df, cols).shape

6.  What is the most common restaurant name in the dataset? **(2pts)** Write down your answer and show code used to come up with the answer.

In [28]:
most_common = merged_df['name'].value_counts().idxmax()
print(most_common)

Starbucks

Based on the code result, the most common restaurant name in the dataset is **Starbucks**.

7. Which restaurant has the most expensive average cost for two? **(2pts)** Write down your answer and show code used to come up with the answer.

In [30]:
most_expensive = merged_df['average_cost_for_two'].max()
most_expensive_restaurant = merged_df.loc[merged_df['average_cost_for_two'] == most_expensive, 'name'].values[0]
print(most_expensive_restaurant)

The Tasting Room

First I decided to compute the value of the most expensive cost for two, then I matched the value to a name of a restaurant. The restaurant with the most expensive cost for two is **The Tasting Room**

8. How many restaurants do not have a zipcode? **(1pt)** Write down your answer and show code used to come up with the answer.

In [31]:
no_zipcode = merged_df['zipcode'].isnull().sum()
print(no_zipcode)

6713

There are **6713** restaurants with no zip code

9. How many restaurants in the dataset allow online delivery? **(1pt)** Write down your answer and show code used to come up with the answer.

In [32]:
online_delivery = (merged_df['has_online_delivery'] == 1).sum()
print(online_delivery)

0

There are no restaurants with online delivery.

10. Which locatlity has more expensive food? Poblacion or Salcedo Village? **(3pts)** Write down your answer and show code used to come up with the answer.

In [34]:
poblacion_cost = merged_df[merged_df['locality'] == 'Poblacion']['average_cost_for_two'].mean()
salcedo_cost = merged_df[merged_df['locality'] == 'Salcedo Village']['average_cost_for_two'].mean()
print("Poblacion: " + str(poblacion_cost))
print("Salcedo Village: " + str(salcedo_cost))

Poblacion: 898.2142857142857
Salcedo Village: 989.1025641025641

The locality with the more expensive food, based on the average cost for two is **Salcedo Village with the mean being 989.10**.